@-webkit-keyframes productsAnimation {
    0%{
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes productsAnimation {
    0%{
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    
}

.productsContainer{
    padding: 5rem 3rem;
    position: relative;
}
.secondColor{
    background-color: var(--second-body-color);
}
.title{
    text-align: center;
    margin-bottom: 2rem;
}
.title h1{
    font-size: 2.5rem;
    color: var(--fourth-color);
    font-family: var(--first-font);
}
.title h3{
    font-size: 1rem;
    color: var(--sixth-color);
}
.productsWrapper{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 20rem));
    justify-content: center;
    gap: 2.5rem;
}
.productLink{
    color: var(--font-color);
    text-decoration: none;
    display: block;
    height: 100%;
}
.productLink:hover{
    color: var(--gold-color);
}
.productLink:hover .productImages img:first-child{
    opacity: 0;
}
.product {
    background-color: var(--fifth-color);
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: productsAnimation .8s ease;
}
.product h2{
    font-size: 1.1rem;
    padding: 15px 10px 0 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product h4{
    font-size: 1rem;
    padding: 0 10px;
    margin: 0.5rem 0;
}
.productImages {
    position: relative;
    padding-top: 133.33%; /* 4:3 aspect ratio */
    overflow: hidden;
}
.productImages img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}
.productImages img:nth-child(2){
    z-index: 1;
}
.productImages img:first-child {
    z-index: 2;
}

/* Specific styles for slider view */
:global(.slick-slide) .product {
    margin: 0 0.5rem;
    height: auto;
}

@media screen and (max-width: 680px){
    .productsWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }
    .productsWrapper .product{
        width: 100%;
        max-width: 22rem;
    }
    .title h1{
        font-size: 2rem;
    }
    .title h3{
        font-size: .8rem;
    }
}
@media screen and (max-width: 370px){
    .productsWrapper .product{
        max-width: 17rem;
    }
    .productsContainer{
        padding: 2rem 1rem;
    }
    .title h1{
        font-size: 1.5rem;
    }
    .title h3{
        font-size: .7rem;
    }
}