@-webkit-keyframes productsAnimation {
    0%{
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes productsAnimation {
    0%{
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
    
}

.productsContainer{
    padding: 5rem 3rem;
    position: relative;
    top: 0;
    left: 0;
}
.secondColor{
    background-color: var(--second-body-color);
}
.title{
    text-align: center;
}
.title h1{
    font-size: 2.5rem;
    color: var(--fourth-color);
    font-family: var(--first-font);
}
.title h3{
    font-size: 1rem;
    color: var(--sixth-color);
}
.productsWrapper{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 20rem));
    justify-content: center;
    gap: 2.5rem;
}
.productsSlider{
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 86%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.productsSlider::-webkit-scrollbar {
    display: none;
}
.productLink{
    color: var(--font-color);
}
.productLink:hover{
    color: var(--gold-color);
}
.productLink:hover .productImages img:first-child{
    opacity: 0;
}
.product {
    background-color: var(--fifth-color);
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-animation: productsAnimation .8s ease;
            animation: productsAnimation .8s ease;
}
.productsSlider .product{
    width: 18rem !important;
}
.productsSlider .productImages img{
    height: 24rem !important;
}
.product h2{
    font-size: 1.1rem;
    padding: 15px 10px 0 10px;
}
.product h4{
    font-size: 1rem;
    padding: 0 10px;
}
.productImages img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    position: relative;
    z-index: 2;
    transition: .3s ease-in-out;
}
.productImages img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.product .feedbacksContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: auto;
}
.feedbacksContainer .feedbacks svg{
    margin-right: 5px;
}
.leftIcon, .rightIcon{
    background-color: var(--fifth-color);
    color: var(--font-color);
    border-radius: 50%;
    width: 2.3rem;
    padding: .5rem;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
}
.leftIcon{
    left: 5%;
    z-index: 3;
}
.rightIcon{
    right: 5%;
    z-index: 3;
}


@media screen and (max-width: 680px){
    .productsWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }
    .product{
        width: 20rem;
    }
    .productsSlider{
        width: 100%;
    }
    .title h1{
        font-size: 2rem;
    }
    .title h3{
        font-size: .8rem;
    }
}
@media screen and (max-width: 370px){
    .product{
        width: 17rem;
    }
    .productsContainer{
        padding: 2rem 1rem;
    }
    .title h1{
        font-size: 1.5rem;
    }
    .title h3{
        font-size: .7rem;
    }
}