.slider-all {
    margin: 2rem auto;
    padding: 0 3rem;
    width: 100%;
    max-width: 90rem;
    position: relative;
}

/* Arrow styles */
.nextArrow,
.prevArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--font-color);
    background: var(--fifth-color);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: color 0.3s ease-in-out;
}

.nextArrow:hover,
.prevArrow:hover {
    color: var(--gold-color);
}

.nextArrow {
    right: -3.5rem;
}

.prevArrow {
    left: -3.5rem;
}

@media screen and (max-width: 1180px) {
    .slider-all {
        max-width: 55rem;
    }
}

@media screen and (max-width: 825px) {
    .slider-all {
        max-width: 24rem;
        padding: 0 0;
    }
    
    .nextArrow {
        right: -0.5rem;
    }
    
    .prevArrow {
        left: -0.5rem;
    }
}
