.linkContainer{
    color: var(--font-color);
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}
.linkContainer p{
    margin-top: 10px;
    font-size: .9rem;
    animation: OpacityMove .3s ease;
}
.linkContainer svg{
    display: none;
}
.listLinks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 100%;
    padding: 20px;
    background-color: var(--fifth-color);
    z-index: 899;
    width: 250px;
    border-top: solid 1px var(--gold-color);
}
a{
    color: var(--font-color);
    padding: 0; 
    font-size: .9rem;
    -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
     -o-transition: color 0.2s ease, border-bottom 0.2s ease;
     transition: color 0.2s ease, border-bottom 0.2s ease;
     border-bottom: solid 1px transparent;
}
a:hover{
    color: var(--gold-color);
    border-bottom: solid 1px var(--gold-color);
}
.clickedLink {
    color: var(--gold-color) !important;
}
.opacity{
    opacity: 1;
}
.noOpacity{
    opacity: 0;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

@media screen and (max-width: 991px){
    .linkContainer p{
        font-size: .8rem;
    }
    .listLinks a{
        font-size: .8rem;
    }
}

@media screen and (max-width: 819px){
    .linkContainer{
        border-bottom: solid 1px var(--font-color);
    }
     .listLinks{
        padding: 10px;
        gap: 12px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    .clickedLink {
        color: var(--gold-color) !important;
        border-bottom: solid 1px var(--gold-color) !important;
        max-height: 600px !important;
    }
    .listTitle:hover{
        border-bottom: solid 1px transparent;
    }
    .linkContainer svg{
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
        font-size: .9rem;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }
}

@-webkit-keyframes OpacityMove {
    0%{
        opacity: 0;
        position: relative;
        left: -100%;
    }
    100%{
        opacity: 1;
        -webkit-transform: (translateX(0));
                transform: (translateX(0));
        position: relative;
        left: 0;
    }
}
@keyframes OpacityMove {
    0%{
        opacity: 0;
        position: relative;
        left: -100%;
    }
    100%{
        opacity: 1;
        -webkit-transform: (translateX(0));
                transform: (translateX(0));
        position: relative;
        left: 0;
    }
}