.chatbot{
    background-color: var(--fifth-color);
    width: 420px;
    padding: 20px 20px;
    position: fixed;
    right: 20px;
    bottom: 70px;
    z-index: 900;
    height: 70vh;
    overflow-y: auto;
}

@media screen and (max-width: 1270px){
    .chatbot{
        height: 65vh;
    }
}
@media screen and (max-width: 750px){
    .chatbot{
        height: 65vh;
        width: 90%;
        bottom: 50px;
    }
}