.form-control {
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gold-color);
    padding-bottom: 0.3rem;
}

.inputWrapper input {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--gold-color);
    font-size: 0.9rem;
    padding: 0.4rem;
    padding-left: 2rem;
}

.inputWrapper input::placeholder {
    color: var(--gold-color);
    opacity: 0.7;
    font-size: 0.9rem;
}

.inputWrapper input:focus {
    outline: none;
}

.icon {
    position: absolute;
    left: 0.3rem;
    color: var(--gold-color);
    font-size: 1rem;
}

.passwordToggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 0.3rem;
}

.passwordToggle .icon {
    position: static;
    color: var(--gold-color);
    font-size: 1rem;
}

.form-control__invalid input {
    border-color: #ff0000;
}

.form-control__error-text {
    color: #ff0000;
    font-size: 0.75rem;
    margin-top: 0.3rem;
    position: absolute;
    bottom: -2.5rem;
}

/* Remove autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--gold-color) !important;
}
