/* PRODUCT CONTAINER */
.productContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    padding: 2rem 9rem;
}

/* PRODUCT IMAGES */
.productImages{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
}
.productImages img:first-child{
    min-width: 28vw;
    width: 28vw;
    max-height: 900px;
    cursor: crosshair;
}
.productImages img:nth-child(2){
    width: 12vw;
    max-height: 400px;
    cursor: crosshair;
}

/* IMAGES POINTS */
.imagesPoints{
    display: none;
}

/* PRODUCT DETAILS */
.productDetails{
    min-width: 40vw;
    color: var(--fourth-color);
}
.productReviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 5px 0 0 0;
    font-size: .9rem;
}
.productReviews .feedbacks svg{
    color: var(--fourth-color);
}
.productCap h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 350;
}
.productCap h3{
    font-weight: 400;
    font-size: 1.3rem;
}
.addCartBtn{
    width: 100%;
    padding: 8px !important;
    margin-top: 25px;
}
.freeShipping{
    font-size: .8rem;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}
.estimatedDelivery{
    background-color: var(--second-body-color);
    padding: 15px;
    font-size: .8rem;
    text-align: center;
}

/* PRODUCT INFOS */
.productInfo div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: var(--first-font);
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.productInfo svg{
    font-size: 1.2rem;
}
.productInfo p{
    margin: 0 10px;
    font-size: 1.5rem;
}
/* PRODUCT COLORS */
.productColor p{
    font-size: 1.1rem;
    margin-top: 20px;
}
.otherColors{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.color{
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 3px transparent;
}
.chosenColor{
    border: solid 3px var(--fifth-color) !important;
}

/* PRODUCT SPECIFICS */
.prodSpec{
    margin-top: 10px;
    padding: 20px 0;
    border-top: solid 1px var(--sixth-color);
    overflow-y: hidden;
    height: 10vh;
    color: var(--fourth-color);
}
.openedSpec{
    height: 100% !important;
}
.prodSpec:first-child{
    margin-top: 60px;
}
.prodSpec:last-child{
    border-bottom: solid 1px var(--sixth-color);
}
.prodSpec .specTitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 0;
    cursor: pointer;
}
.specTitle h3{
    font-size: 1rem;
    margin: auto 0;
    text-transform: uppercase;
    font-weight: 400;
}
.prodSpec p{
    margin-top: 20px;
    font-size: .9rem;
}
.prodPlusMinus svg{
    font-size: 1rem;
}
.hiddenSvg{
    display: none;
}

/* FULL IMAGE */
.fullImage{
    background-color: var(--body-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.imagesBox{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 450px;
}
.imagesBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.zeroOpacity{
    opacity: 0;
}
.imagesBox svg{
  position: absolute;
  bottom: 30px;
  z-index: 801;
  background-color: white;
  border-radius: 50%;
  font-size: 3rem;
  padding: 15px;
  cursor: pointer;
}
.imagesBox .scrollLeft{
    right: 30%;
}
.imagesBox .scrollRight{
    left: 30%;
}
.imagesBox .closeBtn{
    padding: 18px !important;
    font-size: 4rem !important;
    left: 50%;
    transform: translateX(-50%);
}

@media screen  and (max-width: 1281px){
/* PRODUCT DETAILS */
    .productCap h1{
        font-size: 1.5rem;
    }
    .productCap h3{
        font-size: 1.1rem;
    }

/* PRODUCT INFOS */
    .productInfo p{
        font-size: 1.2rem;
    }

/* PRODUCT COLORS */
    .productColor p{
        font-size: .8rem;
    }
}



@media screen  and (max-width: 1030px){
/* PRODUCT CONTAINER */
.productContainer{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0;
}

/* PRODUCT IMAGES */
    .productImages{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 20px;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;  
    }

    .productImages::-webkit-scrollbar {
        display: none;
      }
    .productImages img:first-child{
        min-width: 100%;
        width: 100%;
        max-height: 90%;
    }
    .productImages img:nth-child(2){
        min-width: 100%;
        width: 100%;
        max-height: 90%;
    }

/* IMAGES POINTS */
    .imagesPoints{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 7px;
    }
    .imagesPoints span{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        opacity: .5;
    }
    .activePoint{
        opacity: 1 !important;
    }

/* PRODUCT DETAILS */
    .productDetails{
        min-width: 100%;
        padding: 20px;
    }
}
@media screen  and (max-width: 550px){
/* FULL IMAGE */
    .imagesBox{
        width: 300px;
    }
    .imagesBox img{
        object-fit: contain;
    }
    .imagesBox svg:first-child{
        right: 20%;
    }
    .imagesBox svg:last-child{
        left: 20%;
    }
}

@media screen and (min-height: 910px){
/* PRODUCT SPECIFICS */
    .prodSpec{
        height: 7vh;
    }

/* FULL IMAGE */
.imagesBox{
    width: 600px;
}
}
