.productColor p{
    font-size: 1.1rem;
    margin-top: 20px;
}
.otherColors{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.color{
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: solid 3px transparent;
}
.chosenColor{
    border: solid 3px var(--fifth-color) !important;
}

@media screen  and (max-width: 1281px){
    .productColor p{
        font-size: .8rem;
    }
}