.searchedProducts, .guidedProducts{
    background-color: var(--body-color);
    position: fixed;
    top: 16%;
    left: 0;
    width: 100%;
    height: calc(100vh - 16%);
    overflow-y: auto;
}
.searchedProducts{
    z-index: 903;
}
.guidedProducts{
    z-index: 902;
}
.noProductsFound{
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: 1.2rem;
    color: var(--fourth-color);
}
.pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    text-align: center;
    padding-bottom: 2%;
  }
.pagination button{
    padding: 5px 10px;
    margin: 0 20px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px var(--fourth-color);
    color: var(--fourth-color);
}
.pagination button.active {
    background-color: var(--fifth-color);
    color: var(--font-color) !important;
}
.pagination button:disabled{
    opacity: .3;
}
@media screen and (max-width: 680px){
    .pagination button{
        padding: 3px 6px;
        margin: 0 7px;
        border: none;
        background-color: transparent;
        border-bottom: solid 1px var(--fourth-color);
        color: var(--fourth-color);
        font-size: .7rem;
    }
}
